:root {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
}

.bookcase {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4px;
    margin-right: 4px;
}

.cardclose {
    min-width: 27px;
    min-height: 24px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    border-radius: 0 5px 0 0;
    text-align: center;
}

.cardclose:hover {
    background: #CDCDCD;
}

.card {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    margin: 5px;
    max-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover, .add_book_button:hover, .formbutton:hover, .cardreadbutton:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardcontainer {
padding: 2px  10px 10px;
}

.cardtitle {
text-transform: uppercase;
}

.cardreadbuttondiv {
    display: flex;
    justify-content: center;
}

.add_book_button {
    background-color: white;
    padding: 16px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    z-index: 1;
}



.fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    z-index: 2;
}

.addbook {
    background: white;
    display: none;
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index: 9;
    border-radius: 5px;
}

.addbookform {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
}

.addbookforminput:focus {
    outline: none;
    background-color: #CDCDCD;
    border-radius: 5px;
}

.addbookforminput {
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
}

.formcheckbox {
    display: flex;
    padding: 15px;
    margin: 0 0 15px 0;
}

.formbuttons {
    display: flex;
    justify-content: space-between;
}

.formbutton, .cardreadbutton {
    background-color: white;
    padding: 16px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}